<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
                <!--注入方法-->
    <bean id="Student" class="Student.student" init-method="init" destroy-method="destroy">
        <property name="name">
            <value>欧世乐</value>
        </property>
        <property name="age">
            <value>20</value>
        </property>
        <property name="sex">
            <value>男</value>
        </property>
    </bean>
                <!--构造方法-->
    <bean id="Student2" class="Student.student" init-method="init" destroy-method="destroy">
    <constructor-arg index="0" type="java.lang.String">
        <value>欧乐乐</value>
    </constructor-arg>
        <constructor-arg index="1" type="java.lang.String">
            <value>男</value>
        </constructor-arg>
        <constructor-arg index="2" type="java.lang.String">
            <value>18</value>
        </constructor-arg>
    </bean>
</beans>